<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hienthi.info.cuoiky">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CuoiKy"
        tools:targetApi="31">
        <activity
            android:name=".AddGV"
            android:exported="false" />
        <activity
            android:name=".updateGV"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainLopHoc"
            android:exported="false" />
        <activity
            android:name=".MainToMon"
            android:exported="false" />
        <activity
            android:name=".AddNV"
            android:exported="false" />
        <activity
            android:name=".UpdateNV"
            android:exported="false" />
        <activity
            android:name=".GiaoDien"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>